.fragenliste
  .fragen-liste-item
    border-radius: 5px 5px 0 0

  .question-details
    display: flex
    justify-content: space-between
    padding: 5px 5px 0 5px
    @media (max-width: $width-break-sm)
      flex-direction: column
      justify-content: center

  .result
    min-width: 10px
    margin-left: 15px
    margin-right: 15px

  .radio-buttons
    min-width: 220px
    margin-left: 20px

    @media (max-width: $width-break-sm)
      margin-left: 0
      margin-top: 15px
      display: flex
      justify-content: center
      border-top: solid #ccc 1px

    input[type="radio"]
      margin-top: 8px

  hr
    margin-top: 0

.listen-controls
  margin-left: 0px
  padding-left: 0px

  .btn,select
    margin-top: 5px

hr
  border-top: 1px solid #ccc

@media print
  .fragen-liste-item.bg-success
      background-color: #dff0d8 !important
  .fragen-liste-item.bg-danger
    background-color: #f2dede !important
  .fragen-liste-item.bg-info
    background-color: #d9edf7 !important

  .sidebar
    ul
      display: none
  .listen-controls
    display: none