.sidebar
  h2.sidebar-header 
    span #[a(href='/') EVC-Fragenkatalog]
    span.glyphicon.glyphicon-menu-hamburger#sidebar-burger-menu
  ul
    li #[a(href='#about') About]
    li #[a(href='#fragenkatalog') Fragenkatalog]
      ul
        li #[a(href='trainer.html') Traineren]
        li #[a(href='liste.html') Fragenliste]
    li #[a(href='#mitmachen') Mitmachen]
    li #[a(href='https://github.com/Szuuuken/evc', target='_blank') github]