.sidebar
  h2.sidebar-header EVC-Fragenkatalog
  ul
    li #[a(href='/#about') About]
    li #[a(href='/#fragenkatalog') Fragenkatalog]
      ul
        li #[a(href='trainer.html') Traineren]
        li #[a(href='liste.html') Fragenliste]
    li #[a(href='/#mitmachen') Mitmachen]
    lig #[a(href='https://github.com/Szuuuken/evc') github]