.sidebar
  h2 EVC-Fragenkatalog
  ul
    li #[a(href='#') About]
    li #[a(href='#') Fragen]
      ul
        li #[a(href='#') Traineren]
        li #[a(href='#') Fragenliste]
    li #[a(href='#') Mitmachen]
    lig #[a(href='#') github]