doctype html
html
  head
    link(rel='stylesheet', type='text/css', href='css/main.css')
    
  body
    .container-fluid
      .row.head
        h1 EVC-Fragenkatalog
      .row
        .col-xs-3.sidebar
          ul
            li About
            li Fragen
              ul
                li Traineren
                li Fragenliste
        .col-xs-9.content
          .container
            h2 About
            .p Auf dieser Seite könnt ihr die multiple choice Fragen aus der LVA Einführung in Visual Computing durchgehen und lernen.
            .p Die Fragen können als #[a(href='#') Liste] betrachtet werden oder mit dem #[a(href='#') "Trainer"] geübt werden.
            .p Ich kann leider nicht garantieren, dass alle Fragen aus allen Tests vorhanden und korrekt sind. Jedoch sind 95% aller ins System eingtragenen Fragen korrekt. Falls ihr falsche Fragen findet oder neue Fragen zum System hinzufügen wollt lest euch den Abschnitt #[a(href='#') mitmachen] durch.