doctype html
html
  head
    meta(name="viewport" content="width=device-width,initial-scale=1.0")
    link(rel='stylesheet', type='text/css', href='css/main.css')
    
  body  
    .hp-wrapper
      include _jade/sidebar.jade
      .content
        .col-md-12.listen-controls
          .col-md-3
            select.form-control#fragen-select
              option(value="0") Alle Fragen
              option(value="1") 1. Test
              option(value="2") 2. Test
          .col-md-6.remove-extra-padding
            .col-md-8.max-width-200
              button.btn.btn-primary(onclick='btnShowResultOnClick();') Antworten auswerten
            .col-md-4.max-width-200
              button.btn.btn-primary(onclick='btnShowAnswersOnClick();') Antworten anzeigen
          
        .col-sm-12
          hr
        .fragenliste.col-sm-12
        
    include _jade/default-scripts.jade
    script(src='js/fragen.js')
    script(src='js/liste.js')
    
    