doctype html
html
  head
    meta(name="viewport" content="width=device-width,initial-scale=1.0")
    link(rel='stylesheet', type='text/css', href='css/main.css')
    
  body  
    .hp-wrapper
      include _jade/sidebar.jade
      .content.fragenliste
    script(src='js/jquery.min.js')
    script(src='js/bootstrap.min.js')
    script(src='js/fragen.js')
    script(src='js/liste.js')
    