doctype html
html
  head
    meta(name="viewport" content="width=device-width,initial-scale=1.0")
    link(rel='stylesheet', type='text/css', href='css/main.css')
    
  body  
    .hp-wrapper
      include _jade/sidebar.jade
      .content
        .col-sm-12.listen-controls
          .col-sm-2
            select.form-control#fragen-select
              option(value="0") Alle Fragen
              option(value="1") 1. Test
              option(value="2") 2. Test
          .col-sm-2
            button.btn.btn-primary(onclick='btnShowResultOnClick();') Ergebnis anzeigen
          
        .col-sm-12
          hr
        .fragenliste.col-sm-12
        
    script(src='js/jquery.min.js')
    script(src='js/bootstrap.min.js')
    script(src='js/main.js')
    script(src='js/fragen.js')
    script(src='js/liste.js')
    
    